<!-- Banner -->
<section id="banner">
	<h2>{{ site.title }}</h2>
	<p>Lorem ipsum dolor sit amet nullam consequat <br /> interdum vivamus donce sed libero.</p>
	<ul class="actions">
		<li><a href="#" class="button special big">Get Started</a></li>
	</ul>
</section>
