<!-- Footer -->
<footer id="footer">
	<div class="container">
		<ul class="icons">
			{% if site.social_links.facebook_url and site.social_links.facebook_url != 'FACEBOOK_URL' %}
				<li><a href="{{ site.social_links.facebook_url }}" class="icon fa-facebook"></a></li>
			{% endif %}
			{% if site.social_links.twitter_url and site.social_links.twitter_url != 'TWITTER_URL' %}
				<li><a href="site.social_links.twitter_url" class="icon fa-twitter"></a></li>
			{% endif %}
			{% if site.social_links.instagram_url and site.social_links.instagram_url != 'LINKEDIN_URL' %}
			<li><a href="{{ site.social_links.instagram_url }}" class="icon fa-instagram"></a></li>
			{% endif %}
		</ul>
		<ul class="copyright">
			<li>&copy; Untitled</li>
			<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
			<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			<li>Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a></li>
		</ul>
	</div>
</footer>