<!-- Header -->
	<header id="header" {% if page.path contains "index.html" %} class="alt" {% endif %}>
		<h1><strong><a href="{{ site.baseurl }}/">{{ site.title }}</a></strong> by Templated</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/generic">Generic</a></li>
				<li><a href="{{ site.baseurl }}/elements">Elements</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
