{% include banner.html %}
<!-- One -->
<section id="one" class="wrapper style1">
	<div class="container 75%">
		<div class="row 200%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>Maecenas luctus lectus</h2>
					<p>Perspiciatis doloremque recusandae dolor</p>
				</header>
			</div>
			<div class="6u$ 12u$(medium)">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
				<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
	<div class="container">
		<header class="major">
			<h2>Fusce ultrices fringilla</h2>
			<p>Maecenas vitae tellus feugiat eleifend</p>
		</header>
		<div class="row 150%">
			{% for post in site.posts limit:2 %}
			<div class="6u 12u$(xsmall)">
				<div class="image fit captioned">
					<img src="{{ site.baseurl }}/{{ post.image_path }}" alt="" />
					<h3>{{ post.title}}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
		<ul class="actions">
			<li><a href="#" class="button special big">Nulla luctus</a></li>
			<li><a href="#" class="button big">Sed vulputate</a></li>
		</ul>
	</div>
</section>

{% include services.html %}


<!-- Four -->
<section id="four" class="wrapper style3 special">
	<div class="container">
		<header class="major">
			<h2>Aenean elementum ligula</h2>
			<p>Feugiat sed lorem ipsum magna</p>
		</header>
		<ul class="actions">
			<li><a href="#" class="button special big">Get in touch</a></li>
		</ul>
	</div>
</section>