<!-- Scripts -->
	<script src="{{ site.baseurl }}/bower_components/spatial/assets/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/spatial/assets/js/skel.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/spatial/assets/js/util.js"></script>
	<script src="{{ site.baseurl }}/bower_components/spatial/assets/js/main.js"></script>