<!-- Three -->
<section id="three" class="wrapper style1">
	<div class="container">
		<header class="major special">
			<h2>Mauris vulputate dolor</h2>
			<p>Feugiat sed lorem ipsum magna</p>
		</header>
		<div class="feature-grid">
			{% for service in site.services %}
			<div class="feature">
				<div class="image rounded"><img src="{{ site.baseurl }}/{{ service.image_path }}" alt="" /></div>
				<div class="content">
					<header>
						<h4>{{ service.title }}</h4>
						<p>{{ service.short_description }}</p>
					</header>
					<p>{{ service.content }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>